:root {
  --first-family: "Inter", sans-serif;
  --FIRE-OPAL: #EA5757;
  --WHITE: #FFFFFF;
  --BLACK: #000000;
  --SILVER-PINK: #CDAEBA;
  --LIGHT-SILVER: #D9D9D9;
  --LAVENDER-BLUSH: #FFEFEF;
  --PERMANENT-GERANIUM-LAKE: #d93232;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--first-family);
  color: var(--WHITE);
}

.wrapper {
  max-width: 1509px;
  height: 100vh;
  background-image: url("../img/bg-travel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.container {
  position: relative;
  max-width: 1323px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 213px;
  width: 100%;
  height: 65px;
  background-color: var(--FIRE-OPAL);
  text-decoration: none;
  font-size: 30px;
  color: var(--WHITE);
  font-weight: 700;
  border-radius: 34px;
  transition: ease-in-out 0.2s;
}
.btn:hover {
  background-color: var(--PERMANENT-GERANIUM-LAKE);
}

.header {
  align-items: center;
  padding-top: 40px;
}

.logo {
  align-items: center;
  text-decoration: none;
  color: var(--WHITE);
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.logo span {
  font-weight: 700;
  font-size: 22px;
}

.logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: var(--LIGHT-SILVER);
  border-radius: 100%;
}

.logo-img img {
  display: inline-block;
}

.header-menu {
  margin-left: auto;
}

.list {
  list-style: none;
  margin-right: 50px;
}

.list-item {
  margin-left: 30px;
}

.list-link {
  text-decoration: none;
  color: var(--WHITE);
  font-weight: 600;
  font-size: 18px;
  transition: ease-in-out 0.3s;
}
.list-link:hover {
  color: var(--SILVER-PINK);
}

.search {
  position: relative;
  max-width: 190px;
  width: 100%;
}

.search-input {
  width: 100%;
  height: 40px;
  border-radius: 50px;
  border: none;
  background-color: var(--BLACK);
  color: var(--WHITE);
  font-size: 18px;
  padding: 0 40px 0 10px;
}

.search img {
  display: block;
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
}

.user-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--BLACK);
  margin-left: 23px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.content {
  margin-top: 98px;
  max-width: 502px;
}

.content-title {
  font-size: 65px;
  line-height: 78.66px;
  margin-bottom: 29px;
}

.content-desc {
  font-weight: 600;
  font-size: 30px;
  line-height: 36.31px;
  margin-bottom: 29px;
}

.footer {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer-advantage {
  position: relative;
  max-width: 293px;
  min-height: 206px;
  border-radius: 40px 40px 0 0;
  overflow: hidden;
  padding: 29px 44px 0;
  box-shadow: 0 0 8px var(--SILVER-PINK);
  z-index: 2;
}

.footer-advantage::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--SILVER-PINK);
  position: absolute;
  opacity: 0.6;
  z-index: -1;
}

.advantage-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36.31px;
  color: var(--BLACK);
  margin-bottom: 25px;
}

.advantage-desc {
  font-weight: 600;
  font-size: 20px;
  line-height: 24.2px;
  color: var(--BLACK);
}/*# sourceMappingURL=style.css.map */